name: pipeline
on:
 push:
   branches:
     - "main"

permissions:
  packages: write

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/nani19dev/imolage-backend:latest 
            ghcr.io/nani19dev/imolage-backend:${{ github.sha }}
          build-args: |
            DB_ENGINE: ${{ vars.DB_ENGINE }}
            DB_HOST: ${{ vars.DB_HOST }}
            DB_NAME: ${{ vars.DB_NAME }}
            DB_USER: ${{ vars.DB_USER }}
            DB_PORT: ${{ vars.DB_PORT }}
            DB_PWD: ${{ secrets.DB_PWD }}
            SECRET_KEY: ${{ secrets.SECRET_KEY_VALUE }}
  
  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push-image
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Create Env File
        run: echo "GIT_COMMIT_HASH=${{ github.sha }}" > .env
      
      - name: Deploy Docker Stack
        uses: cssnr/stack-deploy-action@v1
        with:
          name: imolage
          file: docker-stack.yml
          host: backendvps.eu
          user: deploy
          ssh_key: ${{ secrets.DEPLOY_SSH_PRIVATE_KEY }}
          env_file: .env